<div class="offer-card">
  <img
    [src]="makeThumbFromSteam(offer.steamAppID)"
    onerror="this.src='../../../assets/sem-imagem.jpg'"
    [alt]="offer.title"
  />
  <div class="offer-card-details">
    <div class="offer-card-details-body">
      <div class="title-row">
        <p>{{ makeSubstringFromTitle(offer.title) }}</p>
      </div>
      <div class="details-row">
        <div>
          <div class="detail-tag">
            <p>Detalhes</p>
          </div>
        </div>
        <div class="values">
          <div>
            <p class="normal-price">$ {{ offer.normalPrice }}</p>
            <p class="sale-price">$ {{ offer.salePrice }}</p>
          </div>
          <div class="discount-tag">
            <div>
              <p>
                {{ formatDiscountPercentage(offer.discount!) }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
