section {
 
    .container {
        max-width: 1200px;
        width: 100%;
        
        .header {
            display: flex;
            justify-content: space-between;

            .botao-adicionar {
                height: 36px;
            }
        }
        
        table {
            width: 100%;
            border: 1px solid #e0e0e0;
        }
    }
}